{% load static %}
<!DOCTYPE html>
<link rel="shortcut icon" href="#" />
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <title>UWPath</title>
</head>
<body style="background-image: url({% static 'img/background.jpg' %});">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="{% static 'img/UWPathWhite.png' %}" width="100 rem" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="width: 1em; height: 1em;"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--          <input class="form-control mr-sm-2" type="search" placeholder="Search">-->
<!--          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    </div>
    <a href="/contact" class="contact-link navbar-brand navbar-right">Contact Us</a>
</nav>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.3/dragula.min.js'></script>
<script src="{% static 'js/table.js' %}"></script>
<div class="container-fluid" style="height: 90vh;">
        {% block content %}
        {% endblock %}
</div>
</body>
<script>
      AOS.init();
</script>
</html>