{% extends 'base.html' %}
{% load general_tags %}

{% block content %}

    <div class="display-4">
        {{ major }}
    </div>
    <div>
        <b>You need to meet the following requirements: </b>
        <br>
        {% for req in requirements %}
            <div style="color: #0c5460">
                {{ req.number_of_courses }} of {{ req.course_codes }}
            </div>
        {%  endfor %}
    </div>
    <div>
        {%  block table %}
        {% endblock %}
    </div>
{% endblock %}