{% extends 'base.html' %}
{% load general_tags %}

{% block content %}

    <div class="display-4">
        {{ major }}
    </div>
    <h3>
        {{ minor }}
    </h3>
    {% if not minor %}
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Your Minor
        </button>
        <div class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButton">
            {% for program in programs %}
                <li>
                    {% if program.plan_type != "Major" %}
{#                 <a class="dropdown-item" value="{% get_degree_major program.program_name as major %}" href="{% url 'chosen_degree' major=program.program_name %}">#}
                    <a class="dropdown-item" value="{% get_degree_major program.program_name as minor_selected %}" href="{{ request.path }}minor/{{ program.program_name }}/">
                        {{ program.program_name }}
                    </a>
                   {%  endif %}
                </li>
            {%  endfor %}
        </div>
    {% endif %}
    <div>
    <br/>
        <b>You need to meet the following major requirements: </b>
        <br>
        {% for req in requirements %}
            <div style="color: #0c5460">
                {{ req.number_of_courses }} of {{ req.course_codes }}
            </div>
        {%  endfor %}
        <b>You need to meet the following {{minor_requirements.0.plan_type}} requirements: </b>
        <br>
        {% for req in minor_requirements %}
            <div style="color: #0c5460">
                {{ req.number_of_courses }} of {{ req.course_codes }}
            </div>
        {%  endfor %}
    </div>
    <div>
        {%  block table %}
        {% endblock %}
    </div>
{% endblock %}