{% extends "base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
    <div style="padding: 1.2em;">
        {%  if error %}
            <div class="alert alert-danger">
                <strong>Sorry, an error has occurred</strong>
            </div>
        {% endif %}
        <h1>Contact us</h1>
        <br/>
        <p>Tell us what you think about the app and what you features you would like! </p>
        <br/>
        {% if submitted %}
            <p class="success">
                Thank you for contacting us!
            </p>

        {% else %}
            <form action="" method="post" novalidate>
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
        {% endif %}
    </div>
{% endblock content %}