{% extends 'base.html' %}
{% load general_tags %}

{% block content %}
    <div style="text-align: center;">
        </br></br></br>
        <h1 class="display-1"
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="1000">Hello! Welcome to UWPath</h1>
    </br>
        <h1 class="display-3"
            data-aos="fade-right"
            data-aos-delay="750"
            data-aos-duration="1000">I am currently majoring in...</h1>
        </br>
        </br>
        <div class="btn-group dropdown"
             data-aos="fade-left"
             data-aos-delay="800"
             data-aos-duration="1000">
            <button class="home-page-btn log dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                Select Your Major
            </button>
            <ul class="dropdown-menu scrollable-dropdown" role="menu" aria-labelledby="dropdownMenuButton" style="max-height: 20em;">
                {% for program in programs %}
                    {% if program.plan_type == "Major" %}
                        <li role="presentation">
                            <a class="dropdown-item" role="menuitem" value="{% get_degree_major program.program_name as major %}" href="/major/{{ program.program_name }}/">
                                {{ program.program_name }}
                            </a>
                        </li>
                    {%  endif %}
                {%  endfor %}
            </ul>
        </div>
    </div>
{% endblock %}