{% extends 'base.html' %}
{% load general_tags %}

{% block content %}
     <div id="popup-1">
        <div class="popup-content card">
            <h1>Popup Title</h1>
            <p>Popup</p>
            <button id="close-popup-1" onclick="closePopup()">Close</button>
        </div>
    </div>

    <div class="display-4">
        {{ major }}
    </div>
    {% if option and minor %}
        <h3>{{ option }} and {{ minor }}</h3>
    {% elif option %}
        <h3>{{ option }}</h3>
    {% elif minor %}
        <h3>{{ minor }}</h3>
    {% endif %}

    {% if not option and option_list %}
        <div class="dropdown" style="margin-top: 0.5em;">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select additional Option, Specialization, or Joint Plan
            </button>
            <div class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButtonOption">
                {% for program in option_list %}
                    <li>
                        <a class="dropdown-item" value="{% get_degree_major program.program_name as option_selected %}" href="{{ request.path }}option/{{ program.program_name }}/">
                            {{ program.program_name }}
                        </a>
                    </li>
                {%  endfor %}
            </div>
        </div>
    {% endif %}

    {% if not minor and minor_list %}
     <div class="dropdown" style="margin-top: 0.5em;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonMinor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select additional Minor Plan
        </button>
        <div class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButtonMinor">
            {% for program in minor_list %}
                <li>
                    <a class="dropdown-item" value="{% get_degree_major program.program_name as minor_selected %}" href="{{ request.path }}minor/{{ program.program_name }}/">
                        {{ program.program_name }}
                    </a>
                </li>
            {%  endfor %}
        </div>
    </div>
    {% endif %}


     <div>
        {%  block table %}
        {% endblock %}
    </div>
    <div class="asterisk"><small><b>* Course is not found in the Database (acts as an override)</b></small></div>
    </br>

    {# Requiements description starts here #}

    <div class="row course-req-box">
        <div class="col-6" style="margin-top: 0.5em;">
            <b>You need to meet the following major requirements: </b>
            <br>
            {% for req in requirements %}
                <div class="course-req-color">
                    {{ req.number_of_courses }} of {{ req.course_codes }}
                </div>
            {%  endfor %}
        </div>
        <div class="col-6" style="margin-top: 0.5em;">
            {% if "Table I" in requirements.0.additional_requirements or "Communication Skills Requirement" in requirements.0.additional_requirements  %}
                <b>You need to satisfy Table I (Choose a course from List I and one from List II): </b>
                </br>
                <div class="row">
                    <div class="col-6">
                    <b style="color: darkslategray">List I</b>
                        {%  for req in table1 %}
                            {%  if req.list_number == 1 %}
                            <div class="course-req-color">
                                {{ req.course_code }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-6">
                    <b style="color: darkslategray">List II</b>
                        {%  for req in table1 %}
                            {%  if req.list_number == 2 %}
                            <div class="course-req-color">
                                {{ req.course_code }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-6" style="margin-top: 0.5em;">
            {% if "Table II" in requirements.0.additional_requirements %}
                <b>You need to satisfy Table II: </b>
                <br>
                {%  for req in table2 %}
                    <div class="course-req-color">
                        {{ req.number_of_courses }} of {{ req.course_codes }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-6" style="margin-top: 0.5em;">
            {% if option_requirements %}
                <b>You need to meet the following {{option_requirements.0.plan_type}} requirements: </b>
                <br>
                {% for req in option_requirements %}
                    <div class="course-req-color">
                        {{ req.number_of_courses }} of {{ req.course_codes }}
                    </div>
                {%  endfor %}
            {% endif %}
        </div>
        <div class="col-6" style="margin-top: 0.5em;">
            {% if minor_requirements %}
                <b>You need to meet the following minor requirements: </b>
                <br>
                {% for req in minor_requirements %}
                    <div class="course-req-color">
                        {{ req.number_of_courses }} of {{ req.course_codes }}
                    </div>
                {%  endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}