{% extends 'chosen_degree.html' %}
{% load general_tags %}


{% block table %}
    <br>
<section class="add-task-container">
    <input type="text" maxlength="12" id="taskText" placeholder="Course XXX" onkeydown="if (event.keyCode == 13)
                        document.getElementById('add').click()">
    <button id="add" class="button add-button" onclick="addTask()">Add Course</button>
</section>

<main class="main-container">
    <ul class="columns">

        <li class="column required-column">
            <div class="column-header">
                <h4>Required Courses</h4>
            </div>
            <ul class="task-list" id="required">
                {% for req in requirements %}
                <li class="task">
                    <p>{{ req.course_codes }}</p>
                </li>
                {%  endfor %}
            </ul>
        </li>

        <li class="column oneA-column">
            <div class="column-header">
                <h4>1A</h4>
            </div>
            <ul class="task-list" id="1A">
            </ul>
        </li>

        <li class="column oneB-column">
            <div class="column-header">
                <h4>1B</h4>
            </div>
            <ul class="task-list" id="1B">
            </ul>
        </li>

        <li class="column twoA-column">
            <div class="column-header">
                <h4>2A</h4>
            </div>
            <ul class="task-list" id="2A">
            </ul>
        </li>

        <li class="column twoB-column">
            <div class="column-header">
                <h4>2B</h4>
            </div>
            <ul class="task-list" id="2B">
            </ul>
        </li>

        <li class="column threeA-column">
            <div class="column-header">
                <h4>3A</h4>
            </div>
            <ul class="task-list" id="3A">
            </ul>
        </li>

        <li class="column threeB-column">
            <div class="column-header">
                <h4>3B</h4>
            </div>
            <ul class="task-list" id="3B">
            </ul>
        </li>

        <li class="column fourA-column">
            <div class="column-header">
                <h4>4A</h4>
            </div>
            <ul class="task-list" id="4A">
            </ul>
        </li>

        <li class="column fourB-column">
            <div class="column-header">
                <h4>4B</h4>
            </div>
            <ul class="task-list" id="4B">
            </ul>
        </li>

        <li class="column trash-column">
            <div class="column-header">
                <h4>Trash</h4>
            </div>
            <ul class="task-list" id="trash">
            </ul>
            <div class="column-button">
                <button class="button delete-button" onclick="emptyTrash()">Delete</button>
            </div>
        </li>

    </ul>
</main>
{% endblock %}