.idea
__pycache__/
*.py[cod]
logs/
logs/*.log
*.log
ProgramParsing/AHS/Specs/
ProgramParsing/Arts/Specs/
ProgramParsing/Engineering/Specs/
ProgramParsing/Environment/Specs/
ProgramParsing/Math/Specs/
ProgramParsing/Science/Specs/
