beautifulsoup4 == 4.8.2
esandmysqlconnector == 0.1.2
fndatabase == 0.0.1
pandas == 1.1.3
postgres == 3.0.0
psycopg2_binary == 2.8.4
requests == 2.25.1
setuptools == 65.5.1
sqlparse==0.3.0
urllib3 == 1.26.5
oracledb == 1.0.2