/*Need to clear cache ctrl F5 to see css change*/

div {
    color: darkslateblue;
}

body {
  /*background-repeat: no-repeat;*/
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrollable-dropdown {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.flex{
  display: flex;
  justify-content: center;
  height: 5.3rem;
}

.asterisk{
  color: darkred;
  text-align: right;
}

.course-req-box{
  border-radius: 2em;
  margin: 1em;
  background-color: #9e9e9ee0;
}

.course-req-color{
  color: darkblue;
}

.contact-link{
  font-size: 1.5em;
}


/*Button in homepage*/
.home-page-btn{
  border-radius: 0.5em;
  font-weight: 600;
  margin: 0 10px;
  width: 14em;
  padding: 10px 0;
  transition: 0.4s;
}

.log {
  color: #3949ab;
  background-color: rgba(255, 255, 255, 1);
  border: 0.1em solid #3949ab;
}


.home-page-btn:hover {
  color: white;
  box-shadow: 0 0 20px #7986cb;
  background-color: #3949ab;
}