div {
    color: darkslateblue;
    margin: 0.3em;
}

body {
  /*background-repeat: no-repeat;*/
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}