/*Need to clear cache ctrl F5 to see css change*/

div {
    color: darkslateblue;
}

body {
  /*background-repeat: no-repeat;*/
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrollable-dropdown {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.flex{
  display: flex;
  justify-content: center;
  height: 5.3rem;
}

.asterisk{
  color: darkred;
  text-align: right;
}