@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

:root {
  font-size: calc(0.5vw + 1vh);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



span {
  font-size: 3rem;
}

p {
  font-family: "Roboto Slab", serif;
}

my-header {
  font-family: "Roboto Slab", serif;
  font-size: x-large;
}


header,
footer {
  width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5.3rem;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.main-container {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

.column-table{
  width: 8.4rem;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
}

.column {
  width: 8.4rem;
  min-width: 7rem;
  margin: 0 0.6rem;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
}

/*.column-term {*/
/*  width: 8.4rem;*/
/*  border-right: #000013 0.2rem solid;*/
/*  border-top: #000013 0.2rem solid;*/
/*  border-bottom: #000013 0.2rem solid;*/
/*  border-radius: 0.2rem;*/
/*}*/

.column-term-first{
  border-left: #000013 0.2rem solid;
}

.column-header {
  padding: 0.1rem;
  border-bottom: #000013 0.2rem solid;
}

.column-header h4 {
  text-align: center;
}

.required-column .column-header {
  background: #e1bee7;
}

.oneA-column .column-header {
  background: #bbdefb;
}

.oneB-column .column-header {
  background: #bbdefb;
}

.twoA-column .column-header {
  background: #c8e6c9;
}

.twoB-column .column-header {
  background: #c8e6c9;
}


.threeA-column .column-header {
  background: #f0f4c3;
}

.threeB-column .column-header {
  background: #f0f4c3;
}

.fourA-column .column-header {
  background: #ffccbc;
}

.fourB-column .column-header {
  background: #ffccbc;
}

.fiveA-column .column-header {
  background: #cfd8dc;
}

.fiveB-column .column-header {
  background: #cfd8dc;
}


.trash-column .column-header {
  background: #e1bee7;
}

.task-list {
  min-height: 4rem;
  max-height: 34em;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li:first-child {
  /*something*/
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  background-color: #ffcb1e;
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.add-button:hover {
  background-color: #ffdd6e;
}


.add-term-button {
  background-color: #91b7d8;
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.add-term-button:hover {
  background-color: #6aa7dc;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  min-height: 4rem;
  height: auto;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
}

#taskText {
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
  width: 7rem;
  margin: auto 0.8rem auto 0.1rem;
}

.task p {
  margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.list-icon{
  /*margin: 1em;*/
  color: coral;
  margin: 0.2em;
}

.list-icon:hover{
  cursor: pointer;
  color: tomato;
}